# --- HMS ROYAL AUTO-CLEANER ---
# [IDE]
.vs/
.vscode/

# [NET CORE]
[Bb]in/
[Oo]bj/
*.user
*.suo
*.userosscache
*.sln.docstates

# [FRONTEND]
node_modules/
dist/
dist-ssr/
*.local
.pnp.*

# [LOGS]
*.log
_logs/
_temp/

# [MAC/WIN]
.DS_Store
Thumbs.db
[Dd]esktop.ini